@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


/* Global */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto mono", sans-serif;
}

.title,
.subtitle {
    text-shadow: 0px 0px 10px #fff;
    margin-bottom: 20px;
}

p {
    text-align: justify;
    font-size: 16px;
    margin: 0;
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style: none;
}


/* Body */
body {
    background-color: #212529;
    color: #fff;
}

/* goTopButton */
#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgba(156, 156, 156, 0.1);
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 50%;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
    width: 50px;
    height: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

#myBtn:hover {
    background-color: rgba(156, 156, 156, 0.6);
    /* Add a dark-grey background on hover */
}

/* Header */
header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#navbarSupportedContent {
    justify-content: end !important;
}

.navbar-nav {
    margin: 0 !important;
}

.nav-item {
    transition: scale 0.5s, text-shadow 0.5s;
}

.nav-item:hover {
    scale: 1.1;
    text-shadow: 0px 0px 5px #fff;
}

/* Main */
main {
    width: 80%;
    margin: auto;
}

/* Sección banner */
#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    gap: 30px;
}

#foto-perfil {
    width: 80%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #fff;
    margin-bottom: 10px;
}

.text-container-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.text-container-banner h1 {
    text-align: center;
}

.social-links a {
    font-size: 30px;
}

.social-links i {
    transition: background-color 0.4s;
    padding: 10px;
    border-radius: 10px;
}

.social-links i:hover {
   background-color:  rgba(156, 156, 156, 0.1);
}
/* Sección sobre mi */
#about {
    padding: 30px 0px;
    scroll-margin-top: 80px;
}

.about-text {
    background-color: rgba(156, 156, 156, 0.1);
    padding: 30px;
    border-radius: 30px;

}

/* skills */

#skills {
    padding: 30px 0;
    scroll-margin-top: 80px;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.skill-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5%;
    padding: 10%;
    gap: 5px;
    border-radius: 10px;
    background-color: rgba(156, 156, 156, 0.1);
    box-shadow: 2px 2px 10px black;
}

.skill-item img {
    width: 60%;
}

/* proyectos */

#projects {
    scroll-margin-top: 80px;
    padding: 30px 0px;
}

.project-cards-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.project-card {
    padding: 10px 0;
}

.image-container {
    margin: 20px 0;
    box-shadow: 2px 2px 10px black;
    border-radius: 20px;
}

.project-image {
    width: 100%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
}

.project-text {
    margin: 30px 0;
    text-align: start;
    background-color: rgba(156, 156, 156, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

.ver-mas{
    cursor: pointer;
    color: #1975e8;
}

.modal-icon-box{
    display: flex;
    width: 100%;
    margin:30px 0px;
    gap: 20px;
    justify-content: center;
}

.modal-icon-box img{
    width: 5%;
}

.modal-text{
    margin: 0px 20px 20px 30px ;
    text-align: start;
    background-color: rgba(156, 156, 156, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

.project-button-box {
    display: flex;
    justify-content: space-around;
     
}

.btn-anchor{
width: 40%;
}

.project-btn {
    padding: 0.4rem;
    width: 100%;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    
}

.project-btn:hover{
    box-shadow:  0px 0px 30px #6BD1FF;
    border: 1px solid #6BD1FF;
    transition: box-shadow 0.6s, border 0.6s; 
}

.repo {
    background-color: #1975e8;
}

.demo {
    background-color: rgba(156, 156, 156, 0.1);
}

.project-btn p {
    font-weight: bold;
    text-align: center;
}

/* Formacion */

#formacion {
    scroll-margin-top: 80px;
    padding: 30px 0px;
}

.formacion-card-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formacion-card {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px black;
}

.formacion-image-container {
    padding: 20px;
    flex-grow: 1;
}

.formacion-image {
    width: 100%;
}

.formacion-card {
    background-color: rgba(156, 156, 156, 0.1);
    padding: 20px;
    border-radius: 20px;
}

/* Contacto */
#contacto {
    scroll-margin-top: 80px;
    padding: 30px 0px;
}

#contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    background-color: rgba(156, 156, 156, 0.1);
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
    color: white;
    resize: none;
    outline: none;
}

#contact-form input:focus,
#contact-form textarea:focus{
    outline:1px solid #6BD1FF;
}

#form-btn {
    padding: 0.4rem;
    width: 40%;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    margin-top: 20px;
    background-color: #1975e8;
    color: white;
  
}

#form-btn:hover{
    box-shadow:  0px 0px 30px #6BD1FF;
    border: 1px solid #6BD1FF;
    transition: box-shadow 0.6s, border 0.6s;
}



/* Footer */
footer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}


/* responsivo desktop */
@media (min-width: 1024px) {

    /* Nav Bar */
    .navbar-nav {
        gap: 1rem !important;
    }

    /* Banner */

    #banner {
        flex-direction: row-reverse;
        gap: 50px;
    }

    #foto-perfil {
        width: 40%;
    }

    .text-container-banner h1 {
        text-align: start;
    }

    /* Sección sobre mi */

    #about {
        height: 40vh;
    }

    /* Sección skills */


    .skills-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    #bootstrap-container {
        grid-area: 2/2/3/3;
    }

    #git-container {
        grid-area: 2/3/3/4;
    }

    #github-container {
        grid-area: 2/4/3/5;
    }

    .skill-item{
        filter: grayscale(100%);
        transition: filter 0.6s , box-shadow 0.6s;
    }

    /* Sección Proyectos */

    .project-card {
        display: flex;
        gap: 30px;
    }

    .project-card:nth-child(2n+1) {
        flex-direction: row-reverse;
    }

    .project-info {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .image-container {
      height: fit-content;
        width: 60%;
    }


    /* Formacion */
    .formacion-card-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .formacion-image-container {
        height: 70%;
    }
    /* contacto*/

    #contact-form {
        width: 66.6%;
    }
}